/* colors
turqoise: #02CCBA
black: #212121
grey: #333333
offwhite:#C9CCC9
*/

body {
  background: #C9CCC9;
}
/* header */
.header {
  background:url('background2.jpg') center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;;
  color: white;
  text-align: center;
  font-family: 'Nunito', sans-serif;
  position: static;
}
.header .name {
  font-size: 50px;
  padding: 55px 0px 10px 0px;
  font-weight: 600;
}
.header .title {
  color:#02CCBA;
  font-size: 36px;
  font-weight: 300;
  padding-bottom: 35px;
}
.header .quote {
  font-size: 20px;
  font-weight: 200;
  padding-bottom: 25px;
  font-style: italic;
}
.header .socials {
  font-size: 30px;
  padding-bottom: 10px;
}
/* about */
.about {
  color: #333333;
  padding: 55px 400px;
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 2px;
}
.about h3 {
  font-size: 36px;
  text-transform: uppercase;
  padding-bottom: 25px;
  color: #212121;
  letter-spacing: 2px;
}
.about .me {
  color: #02CCBA;
}
.about p {
  width:100%;
}
/* projects */
.work h3 {
  font-size: 36px;
  text-transform: uppercase;
  padding-bottom: 44px;
  color: #212121;
  font-family: 'Nunito', sans-serif;
  letter-spacing: 2px;
}
.work .projects {
  color: #02CCBA;
}
.work .project-1 {
  width: 50%;
}
.work .project-1 img{
  width: 80%;
  padding: 0 0 0 88px;
  height: 372px;
}
.work .project-2 {
  width: 50%;
}
.work .project-2 img{
  width: 80%;
  padding: 0 0 0 46px;
  height: 372px;
}
