.header {
  background:url('background2.jpg') center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;;
  color: white;
  text-align: center;
  font-family: 'Nunito', sans-serif;
}
.header .name {
  font-size: 50px;
  padding: 55px 0px 20px 0px;
}
.header .title {
  color:#02CCBA;
  font-size: 36px;
  font-weight: lighter;
  padding-bottom: 35px;
}
.header .quote {
  font-size: 20px;
  font-weight: lighter;
  padding-bottom: 55px;
  font-style: italic;
}
/* .header .hello {
  font-size: 20px;
  font-weight: lighter;
  padding: 60px 140px 60px 0px;
  line-height: 2;
} */
