/* colors
turqoise: #02CCBA
black: #212121
grey: #333333
offwhite:#C9CCC9
*/

html,body {
  background: #C9CCC9;
  margin: 0;
  height: 100%;
}
/* header */
.header {
  background:url('./img/background2.jpg') center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  text-align: center;
  font-family: 'Nunito', sans-serif;
  position: relative;
  width: 100%;
  height: 100%;
}
.header-right {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  margin-left: -140px;
  margin-top: -180px;
}
.header .name {
  font-size: 50px;
  padding: 55px 0px 10px 0px;
  font-weight: 600;
}
.header .title {
  color:#02CCBA;
  font-size: 36px;
  font-weight: 300;
  padding-bottom: 35px;
}
.header .socials {
  font-size: 46px;
  padding-bottom: 10px;
}
.header .socials p {
  font-size: 20px;
  font-weight: 200;
  font-style: italic;
  padding-bottom: 25px;
}
.header .socials a {
  padding: 0 20px 0 20px;
}
.header .socials:hover a{
  color: #333333;
}
/* about */
.about {
  color: #333333;
  padding: 55px 280px;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 2px;
  text-align: center;
}
.about h3 {
  font-size: 36px;
  text-transform: uppercase;
  padding-bottom: 25px;
  color: #212121;
  letter-spacing: 2px;
}
.about .me {
  color: #02CCBA;
}
.about p {
  width:100%;
}
/* projects */
.work h3 {
  text-align: center;
  font-size: 36px;
  text-transform: uppercase;
  padding-bottom: 44px;
  color: #212121;
  font-family: 'Nunito', sans-serif;
  letter-spacing: 2px;
}
.work .projects {
  color: #02CCBA;
}
.work .work-section-1,
.work .work-section-2 {
  display: flex;
}
.work .project-1 {
  text-align: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size:cover;
  background-repeat: no-repeat;
  width: 380px;
  height: 240px;
  margin: 30px auto;
  color: white;
  position: relative;
  background-image:url('./img/realestate.png');
}
.work .project-2 {
  text-align: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size:cover;
  background-repeat: no-repeat;
  width: 380px;
  height: 240px;
  margin: 30px auto;
  color: white;
  position: relative;
  background-image: url('./img/restaurant.png');
}
.work .project-3 {
  text-align: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size:cover;
  background-repeat: no-repeat;
  width: 380px;
  height: 240px;
  margin: 30px auto;
  color: white;
  position: relative;
  background-image: url('./img/email.png');
}
.work .project-4 {
  text-align: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size:cover;
  background-repeat: no-repeat;
  width: 380px;
  height: 240px;
  margin: 30px auto;
  color: white;
  position: relative;
  background-image: url('./img/netflix-1.png');
}
.work .project-info {
  height:380px;
  width: 240px;
  opacity: 0;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: rgb(2,204,187); /* Old browsers */
  background: -moz-linear-gradient(left, rgba(64,64,64,.7) 0%, rgba(64,64,64,.7) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(64,64,64,.7) 0%,rgba(64,64,64,.7) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(64,64,64,.7) 0%,rgba(64,64,64,.7) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#db3977', endColorstr='#ff5db1',GradientType=1 ); /* IE6-9 */
}
.work .work-section-1 .project-1:hover .project-info,
.work .work-section-1 .project-2:hover .project-info,
.work .work-section-2 .project-3:hover .project-info,
.work .work-section-2 .project-4:hover .project-info {
  opacity: 1;
  transition: .3s ease-in-out;
}
.work .project-info .text {
  font-size: 40px;
  padding-top: 60px;
}
.work .project-info .project-tech {
  font-size: 30px;
  font-style: italic;
  color: white;
  padding-top: 14px;
  padding-bottom: 60px;
}
.work .project-info a {
  background: #FF5F5E;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding: 20px;
  margin: 10px 20px;
  font-size: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  display: inline-block;
  font-family: 'Nunito', sans-serif;
  text-align: center;
}
.work .project-info a:hover {
  background: #02CCBA;
  transition: .2s ease-in-out;
}
.coming-soon {
  text-align: center;
}
.coming-soon h3 {
  font-size: 36px;
  text-transform: uppercase;
  padding: 44px 0 20px 0;
  color: #212121;
  letter-spacing: 2px;
}
.coming-soon h3 .soon {
  color: #02CCBA;
}
.coming-soon p {
  font-size: 20px;
  font-style: italic;
}
.footer {
  text-align: center;
  padding: 80px 30px 20px 30px;
}
.footer h2 {
  font-size: 16px;
  text-transform: uppercase;
  color: black;
  letter-spacing: 2px;
}
.footer p {
  font-size: 26px;
  padding-top: 10px;
}


/* MEDIA QUERIES */

/* mobile */
@media only screen and (max-width:767px) {
  .header {
    height: 100%;
    text-align: center;
  }
  .header .title {
    text-align: center;
  }
  .about  {
    padding:55px 33px !important;
  }
  .work .work-section-1,
  .work .work-section-2 {
    display: block;
    padding: 0 10px;
  }
  .work .project-1,
  .work .project-2,
  .work .project-3,
  .work .project-4 {
    text-align: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size:cover;
    background-repeat: no-repeat;
    width: 480px;
    height: 260px;
    margin: 30px auto;
    color: white;
    position: relative;
  }
  .work .project-info {
    width: 480px;
    height: 260px;
  }
  .work .project-info .text {
    font-size: 30px;
    padding-top: 40px;
  }
  .work .project-info .project-tech {
    font-size: 24px;
    padding-bottom: 20px;
  }
  .work .project-info a {
    background: #FF5F5E;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 16px;
    margin: 10px 10px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;
    display: inline-block;
    font-family: 'Nunito', sans-serif;
    text-align: center;
  }
  .coming-soon {
    text-align: center;
  }
  .coming-soon h3 {
    font-size: 36px;
    text-transform: uppercase;
    padding: 44px 0 20px 0;
    color: #212121;
    letter-spacing: 2px;
  }
  .coming-soon h3 .soon {
    color: #02CCBA;
  }
  .coming-soon p {
    font-size: 20px;
    font-style: italic;
  }
  .footer {
    text-align: center;
    padding: 80px 30px 20px 30px;
  }
  .footer h2 {
    font-size: 16px;
    text-transform: uppercase;
    color: black;
    letter-spacing: 2px;
  }
  .footer p {
    font-size: 26px;
    padding-top: 10px;
  }
}

/* TABLETS */
  @media (min-width:768px) and (max-width:1199px) {
    .about  {
      padding:55px 33px !important;
    }
    .work .work-section-1,
    .work .work-section-2 {
      display: block;
    }
    .work .work-section-1 .project-1,
    .work .work-section-1 .project-2,
    .work .work-section-2 .project-3,
    .work .work-section-2 .project-4 {
      height:406px;
      width: 730px;
      margin-bottom: 70px;
      position: relative;
    }
    .work .project-info {
      height:406px;
      width: 730px;
      margin: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
    }
    .work .project-info .text {
      font-size: 30px;
      padding-top: 100px;
    }
    .work .project-info .project-tech {
      font-size: 30px;
      padding-top: 14px;
      padding-bottom: 20px;
    }
    .work .project-info a {
      background: #FF5F5E;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      padding: 20px;
      margin: 10px 20px;
      font-size: 20px;
      letter-spacing: 2px;
      text-transform: uppercase;
      color: #ffffff;
      text-decoration: none;
      display: inline-block;
      font-family: 'Nunito', sans-serif;
      text-align: center;
    }
    .work .project-info a:hover {
      background: grey;
    }
  }

/* DESKTOP */
@media screen and (min-width:1200px) {
  .about {
    padding: 55px 350px;
  }
  .work .work-section-1,
  .work .work-section-2 {
    display: block;
  }
  .work .work-section-1 .project-1,
  .work .work-section-1 .project-2,
  .work .work-section-2 .project-3,
  .work .work-section-2 .project-4 {
    height:480px;
    width: 880px;
    margin-bottom: 70px;
    position: relative;
  }
  .work .project-info {
    height:480px;
    width: 880px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
}
@media screen and (min-width:1600px) {
  .about {
    padding: 55px 400px;
  }
  .work .work-section-1,
  .work .work-section-2 {
    display: flex;
  }
  .work .work-section-1 .project-1,
  .work .work-section-1 .project-2,
  .work .work-section-2 .project-3,
  .work .work-section-2 .project-4 {
    height:400px;
    width: 734px;
    position: relative;
  }
  .work .project-info {
    height:400px;
    width: 734px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
}
@media screen and (min-width:2000px) {
  .about {
    padding: 55px 600px;
  }
  .work .work-section-1,
  .work .work-section-2 {
    display: flex;
  }
  .work .work-section-1 .project-1,
  .work .work-section-1 .project-2,
  .work .work-section-2 .project-3,
  .work .work-section-2 .project-4 {
    height:450px;
    width: 826px;
    position: relative;
  }
  .work .project-info {
    height:450px;
    width: 826px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
}
